.login {
  height: 100vh;
  margin: 0;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;
}
.checkboxcontainer {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}
.errmsg {
  margin: 8rem auto;
  font-size: 2rem;
  display: inline-block;
  color: red;
  padding: 0.25em;
  margin-left: 500px;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}
