.sidebar {
  width: 200px; /* side bar */
  margin-top: 100px;
  height: 100%;
  background-color: rgb(40, 41, 41, 0.6);
  box-sizing: border-box; /* Include padding in width and height */
  position: fixed; /* Add margin to push it below the fixed sidebar.sidebarbar */
}
.sidebar ul {
  padding: 0em 0.5em 0.5em;
  flex-grow: 1;
}
.sidebar li {
  font-family: "Nunito";
  padding-bottom: 0.5em;
}

.sidebar a:link,
.sidebar a:visited {
  text-decoration: none;
  color: rgba(12, 159, 164, 01);
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.sidebar a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link:global,
a.ctaLink:visited:global {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
