.welcome {
  height: 100vh;
  padding-top: 160px;
  padding-left: 300px;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.95),
      rgba(36, 42, 46, 0.95)
    ),
    url("/image.png");
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-size: cover;
  color: rgba(12, 159, 164, 01);
  background-position: center;
  background-repeat: no-repeat; /* Prevent background image from repeating */
  box-sizing: border-box;
}
